# ===== VS Code =====
.vscode/

# ===== Build files =====
*.o
*.obj
*.exe
*.out
*.app
/build/
/Debug/
/Release/

# ===== Backup and temporary files =====
*.log
*.tmp
*.bak
*~

# ===== OS files =====
.DS_Store
Thumbs.db

# Ignore all executables without extension
*
!.cpp
!.h

